@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
		font-size: 14px;
	}

  body{
    font-family:'poppins', 'sans-serif';
    font-style: normal;
		font-weight: 400;
		font-display: swap;
    overflow: scroll;
  }

  /* :root {
    --color-main-bg:255 255 255;
    --color-primary-bg:191 52 62; 
    --color-secondary-bg:255 245 246;
  
  
    --color-primary-text:40 40 40;
    --color-secondary-text:110 110 110;
    --color-tertiary-text:;
  } */

}

/* .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  left: -50px;
}

.swiper-button-next {
  right: -50px; 
} */

.customer-review .swiper-wrapper {
  padding-bottom: 50px;
}
.customer-review .swiper-pagination-bullet-active {
  background: rgba(109, 109, 109, 1) !important;
}
.customer-review .swiper-button-prev, 
.customer-review .swiper-button-next {
  background-color: rgba(255, 235, 235, 1); /* Light red background */
  color: rgba(191, 52, 62, 1) !important; /* Red arrow color */
  border-radius: 50%; /* Make it circular */
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-review .swiper-button-prev::after,
.customer-review .swiper-button-next::after {
  font-size: 18px !important; /* Adjust arrow size */
  font-weight: bold !important;
}
.investigation {
  overflow: visible !important;
}

.investigation .swiper-wrapper {
  padding-bottom: 50px;
}
.investigation .swiper-pagination-bullet-active {
  background: rgba(109, 109, 109, 1) !important;
}
.investigation .swiper-button-prev, 
.investigation .swiper-button-next {
  background-color:#fff; /* Light red background */
  color: rgba(191, 52, 62, 1) !important; /* Red arrow color */
  border-radius: 50%; /* Make it circular */
  width: 60px !important;
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(191, 52, 62, 1);
}

.investigation .swiper-button-prev::after,
.investigation .swiper-button-next::after {
  font-size: 18px !important; /* Adjust arrow size */
  font-weight: bold !important;
}





.offer .swiper-pagination-bullet-active {
  background: rgba(191, 52, 62, 1) !important;
}

.offer .swiper-button-prev, 
.offer .swiper-button-next {
  background-color: rgba(255, 235, 235, 1); /* Light red background */
  color: rgba(191, 52, 62, 1) !important; /* Red arrow color */
  border-radius: 50%; /* Make it circular */
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer .swiper-button-prev::after,
.offer .swiper-button-next::after {
  font-size: 18px !important; /* Adjust arrow size */
  font-weight: bold !important;
}

.roomSlider .swiper-pagination-fraction {
  left: unset !important;
  position: absolute;
  right: 12px;
  max-width: 52px;
  bottom: 14px;
  background: rgba(0, 0, 0, 50%);
  padding: 5px 13px;
  border-radius: 5px;
  display: flex;
  /* transform: translateX(457%); */
  color: #fff;
}

